@charset "UTF-8";
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Inter", sans-serif;
  color: #fcfcfc;
  background-color: rgb(4, 7, 24);
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
[class*=__container] {
  max-width: 1370px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 100%;
}

[class*=__container] {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

[class*=__name] {
  font-weight: 800;
  font-size: 60px;
  text-transform: uppercase;
  background: linear-gradient(277.65deg, #0571ff -48.26%, #e64dff 40.28%, #8a2fff 112.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 0px 40px rgba(255, 41, 246, 0.4);
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background: url("../img/bg.png");
  background-color: rgb(4, 7, 24);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin: -10% 0 -10% 0;
}
.video__item {
  aspect-ratio: 3/2;
}
.video__item video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video__item .blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(51.93% 81.64% at 49.17% 44.44%, rgba(0, 0, 0, 0) 39.06%, rgba(6, 4, 0, 0.22) 57.81%, rgba(12, 0, 21, 0.58) 88.54%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background: linear-gradient(180deg, rgba(0, 10, 24, 0.2) 6.8%, rgba(0, 0, 0, 0) 78.8%);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.menu {
  width: 100%;
}
.menu__list {
  padding: 36px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 2%;
}
.menu__logo {
  margin: 0 9%;
}

.main {
  z-index: 2;
  flex: 1 1 auto;
}

.welcome {
  margin: 20% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.welcome__wel {
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: #939393;
}
.welcome__title {
  font-weight: 900;
  font-size: 150px;
  text-transform: uppercase;
}
.welcome__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  max-width: 240px;
  margin: 20px 0 0 0;
}
.welcome__btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  max-width: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 32px;
  margin: 40px 0 0 0;
  gap: 10px;
  background: #5865f2;
  box-shadow: 0px 0px 30px rgba(88, 101, 242, 0.3);
  border-radius: 100px;
}

.about {
  display: flex;
  justify-content: space-between;
  margin: 370px 0 0 0;
}
.about__block {
  flex: 0 1 610px;
}
.about__block:last-child {
  margin-right: 82px;
}
.about__title {
  font-weight: 600;
  font-size: 30px;
}
.about__line {
  width: 50px;
  height: 3px;
  background: linear-gradient(2deg, rgb(137, 81, 255) 0px, rgb(255, 138, 229) 33%);
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 21px 0;
}
.about__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}
.about__logo {
  margin: 10px 0 0 0;
}

.titiland {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin: 15% 0 0 0;
}
.titiland__slaider {
  flex: 0 1 410px;
  min-width: 0;
  position: relative;
}
.titiland__slaider .back {
  position: absolute;
  left: 64px;
  top: 60px;
  width: 70%;
  z-index: -1;
  height: 80%;
  background: linear-gradient(359.28deg, rgba(216, 72, 255, 0.3) 6.14%, rgba(216, 72, 255, 0.048) 101.75%);
  filter: blur(7.5px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.titiland__col-top img, .titiland__col-down img {
  width: 100%;
}
.titiland__photos {
  display: flex;
  align-items: center;
}
.titiland__arr-left {
  cursor: pointer;
}
.titiland__arr-left img {
  transform: rotate(180deg);
  width: 100%;
}
.titiland__arr-right {
  cursor: pointer;
}
.titiland__arr-right img {
  width: 100%;
}
.titiland__content {
  flex: 0 1 550px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 140px 0 0;
}
.titiland__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin: 30px 0 0 0;
}
.titiland__more {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  background: linear-gradient(277.37deg, #2d0073 -24.21%, #c843ff 131.33%);
  box-shadow: 0px 0px 20px rgba(255, 41, 246, 0.2);
  border-radius: 100px;
  padding: 10px 32px;
  margin: 60px 0 0 0;
}

.swiper {
  max-width: 268px;
}
.swiper img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 300px;
}

.zoomloop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15% 0 0 0;
  position: relative;
}
.zoomloop__back {
  position: absolute;
  top: 6%;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 88%;
  background: linear-gradient(96.36deg, #0021cc -10.12%, #04125e 128.75%), #000000;
  opacity: 0.6;
  border-radius: 50px;
}
.zoomloop__back:nth-child(2) {
  z-index: -1;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.6;
  border-radius: 50px;
}
.zoomloop__content {
  flex: 0 1 594px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.zoomloop__opentxt {
  font-weight: 500;
  font-size: 30px;
}
.zoomloop__text {
  margin: 29px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
.zoomloop__play-btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  margin: 60px 0 0 0;
  padding: 10px 32px;
  background: linear-gradient(277.37deg, #2d0073 -24.21%, #c843ff 131.33%);
  box-shadow: 0px 0px 20px rgba(255, 41, 246, 0.2);
  border-radius: 5px;
}
.zoomloop__phone {
  flex: 0 1 505px;
}
.zoomloop__phone .phone-base {
  position: relative;
  display: flex;
  justify-content: center;
}
.zoomloop__phone .phone-base img:first-child {
  position: absolute;
  bottom: -8%;
  left: 0;
  z-index: -3;
  width: 100%;
}
.zoomloop__phone .phone-base img:last-child {
  z-index: 1;
  width: 66%;
}

.miticoin {
  margin: 15% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.miticoin__video {
  flex: 0 1 460px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.miticoin__video .blur {
  position: absolute;
  left: 2.5%;
  bottom: 8%;
  width: 95%;
  z-index: -1;
  filter: blur(13.5px);
}
.miticoin__video .blur:nth-child(2) {
  z-index: auto;
}
.miticoin__main video,
.miticoin__main img {
  width: 100%;
}
.miticoin__content {
  flex: 0 1 608px;
}
.miticoin__text {
  margin: 30px 0 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

.preloader {
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}
.preloader__procents {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  background: linear-gradient(277.65deg, #0571ff -48.26%, #e64dff 40.28%, #8a2fff 112.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 0px 40px rgba(255, 41, 246, 0.4);
}
.preloader__img {
  position: absolute;
  left: 0;
  top: 0;
  margin: -10% 0 0 0;
  width: 100%;
}
.preloader__img img {
  position: absolute;
  width: 100%;
}

.preloader--hide {
  display: none;
}

body.preload {
  height: 100vh;
  overflow-y: hidden;
}

.popup404 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.popup404__body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.popup404__content {
  width: 450px;
  height: 450px;
  position: relative;
  background: #040718;
  border-radius: 50%;
  opacity: 0.98;
  box-shadow: 0px 0px 40px rgba(255, 41, 246, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-100%, 0);
  transition: all 0.5s ease 0s;
}
.popup404__content h1 {
  font-weight: 900;
  font-size: 150px;
  margin-top: 114px;
  text-transform: uppercase;
  background: linear-gradient(277.65deg, #0571ff -48.26%, #e64dff 40.28%, #8a2fff 112.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 0px 40px rgba(255, 41, 246, 0.4);
}
.popup404__content p {
  font-weight: 400;
  font-size: 18px;
}
.popup404__content img {
  position: absolute;
  top: -16%;
  left: 4%;
}
.popup404__close-btn {
  cursor: pointer;
  margin-top: 50px;
  padding: 10px 32px;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  background: linear-gradient(277.37deg, #2d0073 -24.21%, #c843ff 131.33%);
  box-shadow: 0px 0px 20px rgba(255, 41, 246, 0.2);
  border-radius: 100px;
}

.popup404.open {
  visibility: visible;
  opacity: 1;
}

.popup404.open .popup404__content {
  transform: translate(0, 0);
}

.arrow-content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  width: 30px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.arrow-content span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid rgb(252, 252, 252);
  border-right: 2px solid rgb(252, 252, 252);
  transform: rotate(45deg);
  margin: -15px 0;
  -webkit-animation: arrow-content 2s infinite;
          animation: arrow-content 2s infinite;
}

.arrow-content span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  border-color: rgb(170, 170, 170);
}

.arrow-content span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  border-color: rgb(95, 95, 95);
}

@-webkit-keyframes arrow-content {
  0% {
    opacity: 0;
    transform: translate(0, 0px) rotate(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, 60px) rotate(45deg);
  }
}

@keyframes arrow-content {
  0% {
    opacity: 0;
    transform: translate(0, 0px) rotate(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, 60px) rotate(45deg);
  }
}
.footer {
  background: #040718;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer__title {
  margin-top: 12px;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.footer__share {
  margin-top: 20px;
  display: flex;
}
.footer__share--item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0 4px;
  background: #58129a;
  border: solid 1px;
  border-radius: 5px;
  border-color: rgb(255, 138, 229);
}
.footer__email {
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
}
.footer__power {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: #939393;
}
.footer__power img {
  margin-top: 7px;
}
.footer__policy {
  margin: 60px 0 14px 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  /* identical to box height, or 13px */
  text-transform: uppercase;
  color: #939393;
}
.footer__policy a {
  text-decoration: underline;
  color: #939393;
}
.footer__policy a:hover {
  color: #a2a2a2;
}

.roadmap {
  margin: 15% 0 0 0;
  height: 500px;
  display: flex;
  justify-content: end;
}

.rm {
  max-width: 930px;
  width: 100%;
  height: 100%;
  position: relative;
}
.rm__line {
  position: absolute;
  width: 100%;
  max-width: 690px;
  height: 1px;
  left: 0;
  top: 0;
  border: 1px solid #d146ff;
  background: #d146ff;
  box-shadow: 0px 0px 20px #d848ff;
}
.rm__elipse {
  position: absolute;
  top: 0;
  right: 0;
  height: 256px;
  width: 100%;
  max-width: 128px;
  border-radius: 0 150px 150px 0;
  border: 3px solid #d146ff;
  box-shadow: inset -30px 0px 40px -35px #d848ff, 16px 0px 28px -25px #d848ff;
  border-left: none;
}

.line-1 {
  max-width: 930px;
  left: -200%;
}

.line-2 {
  max-width: 930px;
  left: calc(-200% + 930px);
}

.line-3 {
  max-width: 802px;
  right: 128px;
}

.line_4 {
  right: 128px;
  top: 256px;
}/*# sourceMappingURL=style.css.map */
=======
}/*# sourceMappingURL=style.css.map */

