@charset "UTF-8";
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../../fonts/Inter-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/Inter-Light.woff2") format("woff2"), url("../../fonts/Inter-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Regular.woff2") format("woff2"), url("../../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Inter-Medium.woff2") format("woff2"), url("../../fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Inter-SemiBold.woff2") format("woff2"), url("../../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Inter-Bold.woff2") format("woff2"), url("../../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../../fonts/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/Inter-Black.woff2") format("woff2"), url("../../fonts/Inter-Black.woff") format("woff");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Inter", sans-serif;
  color: #fcfcfc;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
[class*=__container] {
  max-width: 1370px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 100%;
}

[class*=__container] {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background: url("../../img/bg.png");
  background-color: rgb(4, 7, 24);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin: -10% 0 -10% 0;
}
.video__item {
  aspect-ratio: 3/2;
}
.video__item video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video__item .blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(51.93% 81.64% at 49.17% 44.44%, rgba(0, 0, 0, 0) 39.06%, rgba(6, 4, 0, 0.22) 57.81%, rgba(12, 0, 21, 0.58) 88.54%);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.header {
  width: 100%;
  z-index: 2;
}

.menu {
  width: 100%;
}
.menu__list {
  padding: 36px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 2%;
}
.menu__logo {
  margin: 0 9%;
}

.main {
  z-index: 2;
  flex: 1 1 auto;
}
.main__content {
  margin: 12% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main__welcome {
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: #939393;
}
.main__name {
  font-weight: 900;
  font-size: 150px;
  text-transform: uppercase;
}
.main__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  max-width: 240px;
  margin: 10px 0 0 0;
}
.main__discord {
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  max-width: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 32px;
  margin: 40px 0 0 0;
  gap: 10px;
  background: #5865f2;
  box-shadow: 0px 0px 30px rgba(88, 101, 242, 0.3);
  border-radius: 100px;
}
.main__about {
  display: flex;
  justify-content: space-between;
  margin: 370px 0 0 0;
}
.main__about-item {
  flex: 0 1 610px;
}
.main__about-item:last-child {
  margin-right: 82px;
}
.main__about-name {
  font-weight: 600;
  font-size: 30px;
}
.main__about-line {
  width: 50px;
  height: 3px;
  background: linear-gradient(2deg, rgb(137, 81, 255) 0px, rgb(255, 138, 229) 33%);
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 21px 0;
}
.main__about-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}
.main__about-logo {
  margin: 10px 0 0 0;
}
.main__titland {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin: 200px 0 0 0;
}
.main__titiland-content {
  flex: 0 1 550px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 140px 0 0;
}
.main__titiland-name {
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  text-transform: uppercase;
  background: linear-gradient(277.65deg, #0571ff -48.26%, #e64dff 40.28%, #8a2fff 112.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 0px 40px rgba(255, 41, 246, 0.4);
}
.main__titiland-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin: 30px 0 0 0;
}
.main__titiland-more {
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(277.37deg, #2d0073 -24.21%, #c843ff 131.33%);
  box-shadow: 0px 0px 20px rgba(255, 41, 246, 0.2);
  border-radius: 100px;
  padding: 10px 32px;
  margin: 60px 0 0 0;
}
.main .slaider {
  flex: 0 1 410px;
  min-width: 0;
}
.main .slaider .arr {
  cursor: pointer;
}
.main .slaider__arr-left img {
  transform: rotate(180deg);
}
.main .slaider__image {
  position: relative;
}
.main .slaider__image .back {
  position: absolute;
  left: 64px;
  top: 60px;
  width: 74%;
  z-index: -1;
  height: 80%;
  background: linear-gradient(359.28deg, rgba(216, 72, 255, 0.3) 6.14%, rgba(216, 72, 255, 0.048) 101.75%);
  filter: blur(7.5px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.main .slaider__col-top, .main .slaider__col-down img {
  width: 100%;
}
.main .slaider__photos {
  display: flex;
  align-items: center;
}
.main .slaider__photos img {
  width: 100%;
}

.swiper {
  max-width: 268px;
}
.swiper img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 300px;
}

.preloader {
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}
.preloader__procents {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  background: linear-gradient(277.65deg, #0571ff -48.26%, #e64dff 40.28%, #8a2fff 112.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 0px 40px rgba(255, 41, 246, 0.4);
}
.preloader__img {
  position: absolute;
  left: 0;
  top: 0;
  margin: -10% 0 0 0;
  width: 100%;
}
.preloader__img img {
  position: absolute;
  width: 100%;
}

.preloader--hide {
  display: none;
}

body.preload {
  height: 100vh;
  overflow-y: hidden;
}/*# sourceMappingURL=style.css.map */