@media screen and (max-width: 1199.89px) {
   .titiland__content {
      margin: 0 40px 0 0;
   }
   .mititoken {
      &__information {
         flex: 0 0 auto;
      }
      &__procents {
         grid-template-columns: 300px 1fr;
      }

      &__image {
         max-width: 460px;
         max-height: 460px;
      }

      &__item {
         &:nth-child(4) {
            grid-row: 3;
         }
      }
   }
}

@media screen and (max-width: 1023.89px) {
   [class*="__container"] {
      max-width: 900px;
      padding: 0 25px;
      margin: 0 auto;
   }

   [class*="__name"] {
      font-size: 40px;
   }

   .welcome {
      &__wel {
         margin: 30vh 0 0 0;
         font-size: 12px;
      }
      &__title {
         font-size: 100px;
         line-height: 121px;
      }
      &__text {
         font-size: 14px;
         margin-top: 10px;
      }
      &__btn {
         margin-top: 40px;
         padding: 14px 50px;
      }

      & .arrow-content {
         display: none;
      }
      & video {
         width: 150%;
      }
   }

   .menu {
      &__logo {
         margin: 0 4%;
      }

      &__item {
         font-size: 12px;
      }
   }

   .about {
      gap: 30px;
      margin: 50px 0 0 0;
      &__block {
         flex: 0 1 50%;
         margin: 0;
      }
      &__title {
         font-size: 20px;
      }
      &__info {
         font-size: 14px;
      }
      &__block {
         margin: 15px 0;
      }
   }

   .titiland {
      margin-top: 150px;
      &__slaider-body {
         max-width: 230px;
      }
      &__content {
         flex: 0 1 50%;
         margin: 0;
      }
      &__text {
         font-size: 14px;
      }

      &__arr-left,
      &__arr-right {
         height: 30px;
      }
      .arr-left,
      .arr-right {
         &:last-child {
            display: none;
         }
         height: 25px;
         width: 25px;
      }
      & .back {
         left: 31px;
         top: 40px;
      }
   }
   .swiper {
      max-width: 150px;
      & img {
         height: 160px;
         width: 95%;
      }
   }

   .btn {
      padding: 12.5px 50px;
   }

   .zoomloop {
      margin: 150px 0 0 0;
      & .case-img2 {
         display: none;
      }
      &__phone {
         .phone-base {
            max-width: 248px;
            & .img_down {
               z-index: 1;
            }
         }
      }
      &__blur-2 {
         bottom: 1px;
         right: 122px;
         z-index: -1;
      }
      &__blur-1 {
         top: 113px;
         right: 22px;
         z-index: -1;
      }
      &__content {
         margin: 40px 0 40px 40px;
         & .case-img {
            max-width: 250px;
            top: -68px;
            right: -36px;
         }
      }
      &__opentxt {
         font-size: 18px;
      }
      &__text {
         font-size: 14px;
      }
      .phone-bg-img {
         z-index: -1;

         &._1 {
            max-width: 200px;
            left: -22px;
            top: -159px;
         }
         &._2 {
            max-width: 140px;
            right: -29px;
            top: -163px;
         }
      }
      &__play-btn {
         margin: 30px 0 0 0;
      }
   }
   .lines {
      display: none;
   }

   .miticoin {
      margin: 150px 0 0 0;
      justify-content: space-between;
      &__content {
         flex: 50% 0 1;
      }
      &__text {
         font-size: 14px;
      }
   }

   .tocenomics {
      margin: 120px 0 0 0;
      // .tocenomics__txt
      &__txt {
         font-size: 20px;
      }

      // .tocenomics__name
      &__name {
      }

      // .tocenomics__stat
      &__stat {
         margin: 30px 0 0 0;
      }
   }

   .stat-tm {
      // .stat-tm__item
      &__bar:first-child,
      &__description:first-child {
         flex: 0 1 65%;
      }

      &__bar:last-child,
      &__description:last-child {
         flex: 1 0 230px;
      }

      // .stat-tm__bar
      &__bar {
         &.pink {
         }
      }

      // .stat-tm__value
      &__value {
         font-size: 18px;
      }

      // .stat-tm__text
      &__text {
         font-size: 14px;
      }

      // .stat-tm__info
      &__info {
         font-size: 14px;
         line-height: 17px;
         white-space: nowrap;
      }

      // .stat-tm__description
      &__description {
      }

      // .stat-tm__procent
      &__procent {
         font-size: 20px;
      }

      // .stat-tm__line
      &__line {
      }
   }

   .mititoken {
      margin: 100px 0 0 0;
      // .mititoken__information
      &__information {
      }

      // .mititoken__name
      &__name {
         font-size: 30px;
         line-height: 36px;
         max-width: 425px;
      }

      // .mititoken__procents
      &__procents {
         width: 100%;
         grid-template-columns: 212px 1fr;
         margin: 30px 0;
      }

      // .mititoken__item
      &__item {
         &:nth-child(1),
         &:nth-child(4) {
         }
      }

      // .mititoken__icon
      &__icon {
         flex: 0 0 40px;
         width: 40px;
         height: 40px;
         & img {
            width: 22px;
            height: 22px;
         }
      }

      // .mititoken__stat
      &__stat {
      }

      // .mititoken__text
      &__text {
         font-size: 14px;
      }

      // .mititoken__procent
      &__procent {
         font-size: 12px;
      }

      // .mititoken__button
      &__button {
      }

      // .mititoken__image
      &__image {
         max-width: 300px;
         max-height: 300px;
         
      }

      // .mititoken__image img
      &__image img {
      }

      // .mititoken__image--stat
      &__image--stat {
         flex: 0 0 120px;
         width: 120px;
         height: 120px;
      }

      // .mititoken__value
      &__value {
         font-size: 16px;
      }

      // .mititoken__discription
      &__discription {
         font-size: 10px;
      }
   }

   .team {
      &__title {
         font-size: 40px;
         line-height: 48px;
         & h2 {
            width: 150px;
         }
      }
      &__item {
         flex: 0 1 158px;
      }
      &__personal {
         position: absolute;
         overflow-x: scroll;
         & .team__item {
            flex-shrink: 0;
         }
      }
      &__item--name {
         font-size: 14px;
         line-height: 9px;
      }
      &__item--pos {
         font-size: 10px;
         line-height: 130%;
      }
      &__item--info {
         font-size: 10px;
         line-height: 130%;
      }
   }

   .email {
      margin: 420px 0 0 0;
      padding: 40px;

      & p {
         font-size: 18px;
         margin: 0;
      }

      &__name {
         font-size: 40px;
      }
   }
}
@media screen and (max-width: 767.89px) {
   [class*="__container"] {
      max-width: 900px;
      min-width: 425px;
      padding: 0 25px;
      margin: 0 auto;
   }
   .header {
      background: none;
      backdrop-filter: flur(0);

      &__container {
         position: relative;
      }
   }

   .burger {
      display: block;
      margin: 27px 0 0 0;
      z-index: 25;
      padding: 0 25px;
   }
   .header__mob {
      position: relative;
      width: 100%;
      height: 68px;
   }

   .logo-phone {
      display: flex;
      z-index: 25;
      padding: 0 25px;
      cursor: pointer;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
   }

   .menu {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      background: #040718;
      transform: translateY(-200%);
      opacity: 0;
      transition: all 0.4s ease;

      &__logo {
         display: none;
      }

      & ul {
         flex-direction: column;
         padding: 100px 0;
         z-index: 24;
         width: 100%;
      }

      &__item {
         font-weight: 500;
         font-size: 20px;
         line-height: 130%;
         margin: 24px 0 0 0;

         text-transform: uppercase;
      }
   }

   .header.opened {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(15px);
      & .menu {
         transform: translate(0);
         opacity: 1;
      }
   }

   .zoomloop__back {
      height: 104%;
      top: -2%;
   }

   .titiland {
      flex-direction: column;

      &__name {
         margin: 0;
      }

      &__content {
         order: 1;
      }

      &__slaider {
         margin-top: 20px;
         order: 2;
      }

      & .btn {
         order: 3;
         margin-top: 40px;
         padding: 12.5px 0;
         display: flex;
         justify-content: center;
         width: 100%;
         .grad {
            display: none;
         }
         background: linear-gradient(277.37deg, #2d0073 -24.21%, #c843ff 131.33%);
      }
      .arr-left,
      .arr-right {
         display: none;
      }
      & .swiper-pagination {
         display: flex;
      }
   }

   .miticoin {
      flex-direction: column-reverse;
      &__video {
         margin-top: 30px;
      }
   }

   .mititoken {
      flex-direction: column;
      // .mititoken__information
      &__information {
      }

      // .mititoken__name
      &__name {
      }

      // .mititoken__procents
      &__procents {
         grid-template-columns: 3fr 2fr;
         margin: 30px 0;
      }

      // .mititoken__item
      &__item {
         &:hover {
         }

         &:nth-child(1),
         &:nth-child(4) {
         }
      }

      // .mititoken__icon
      &__icon {
         &._2 {
            background: #4cff5e;
         }
         &._3 {
            background: #18ffc9;
         }
         &._4 {
            background: #ff7a5c;
         }
         &._5 {
            background: #375ee7;
         }
      }

      // .mititoken__stat
      &__stat {
      }

      // .mititoken__text
      &__text {
      }

      // .mititoken__procent
      &__procent {
      }

      // .mititoken__button
      &__button {
      }

      // .mititoken__image
      &__image {
         margin: 0 0 30px 0;
      }

      // .mititoken__image img
      &__image img {
      }

      // .mititoken__image--stat
      &__image--stat {
      }

      // .mititoken__value
      &__value {
      }

      // .mititoken__discription
      &__discription {
      }
   }

   .email {
      margin: 150px 0 0 0;
      & h2 {
         max-width: 230px;
      }
   }

   .team {
      & .swiper {
         max-width: 343px;
      }
      &__personal {
         margin: 26px 0 0 0;
         display: none;
      }
      &__item {
         flex: 0 1 100%;
      }
      &__liders {
         flex: 0;
      }
      & h2 {
         width: auto;
      }
      &__title {
         flex: 0;
      }
      & img {
         height: auto;
         width: 100%;
      }
      &__liders {
         display: none;
      }
      &__personal.phone {
         display: block;
      }
   }

   .cookie {
      width: 80vw;
      padding: 20px 10px;
      left: 50%;
      transform: translateX(-50%);
   }

   .cookie--hide {
      transform: translate(-50%, 140%);
   }

   @media (max-width: 660px) {
      .welcome video {
         width: 250%;
      }
      .zoomloop {
         &__phone {
            display: none;
         }
         &__content {
            margin: 60px 20px;
         }
         &__back {
            height: 96%;
            top: 2%;
         }
      }
      .email {
         padding: 50px 20px;
         & .form {
            flex-direction: column;
            align-items: center;
            &__item {
               width: 100%;
            }
            & input {
               width: 100%;
            }
         }
         p {
            font-size: 14px;
         }

         & .btn {
            width: 100%;
            padding: 12.5px 0;
            display: flex;
            justify-content: center;
            .grad {
               display: none;
            }
            background: linear-gradient(277.37deg, #2d0073 -24.21%, #c843ff 131.33%);
            margin: 12px;
         }
      }
      .cookie {
         flex-direction: column;
         text-align: center;
         &__btn {
            margin: 10px 0 0 0;
            padding: 6px 32px;
         }
      }
      .preloader {
         & img,
         & svg,
         & span {
            transform: translate(-50%, -50%) scale(0.8);
         }
         & span {
            margin-top: 0px;
         }
      }
   }

   .popup {
      &__content {
         width: 70vw;
         height: 70vw;
      }
      &__content {
         & h1 {
            font-size: 25vw;
            margin-top: 16%;
         }

         & p {
            font-size: 3vw;
         }

         & .btn {
            padding: 3% 12%;
            font-size: 3vw;
            margin-top: 8%;
         }
      }
      &__UFO {
         position: absolute;
         top: -16%;
         left: -15%;
         width: 70%;
         height: 20vw;
         & img {
            position: absolute;
            width: 80%;
            left: 30%;
            top: 12%;
         }
         & .blur {
            transform: translateX(-40%);
            width: 40%;
            top: 55%;
            left: 78%;
         }
         // display: none;
      }
   }

   .email-accept {
      & img {
         margin: 8vw 0 4vw 0;
         width: 30vw;
      }
   }

   @media (max-width: 475px) {
      .popup {
         &__content {
            & h1 {
               font-size: 25vw;
               margin-top: 18%;
            }
         }
      }
   }

   .team__personal {
      transform: translateX(70%);
      opacity: 0;
      transition: all 0.7s ease;
   }
   .team__personal._active {
      transform: translateX(0);
      opacity: 1;
   }

   //Hover to Click
   .menu__item:hover {
      color: #fcfcfc;
      transform: scale(1);
   }
   .menu__item:active {
      color: red;
      transform: scale(1.2);
   }
   .btn {
      &:hover {
         transform: scale(1);
         & .grad {
            transform: translate(-70%, -60%);
         }
      }
      &:active {
         transform: scale(1.03);
      }
   }
}
@media screen and (max-width: 630px) {
   .tocenomics {
      // .tocenomics__txt
      &__txt {
      }

      // .tocenomics__name
      &__name {
      }

      // .tocenomics__stat
      &__stat {
      }
   }

   .stat-tm {
      // .stat-tm__item
      &__item:last-child {
         flex-direction: column;
      }

      &__bar:first-child,
      &__description:first-child {
      }

      &__description:last-child {
         margin-left: 0;
         flex: 1 1 auto;
      }

      &__bar:last-child {
         flex: 1 1 auto;
         width: 30%;
         min-width: 120px;
      }

      // .stat-tm__bar
      &__bar {
         &.pink {
         }
      }

      // .stat-tm__value
      &__value {
      }

      // .stat-tm__text
      &__text {
      }

      // .stat-tm__info
      &__info {
      }

      // .stat-tm__description
      &__description {
      }

      // .stat-tm__procent
      &__procent {
      }

      // .stat-tm__line
      &__line {
      }
   }
}
@media screen and (max-width: 530px) {
   .about {
      gap: 50px;
      flex-direction: column;

      &__title {
         font-size: 25px;
      }
   }

   .zoomloop {
      &__phone {
         display: none;
      }

      &__content {
         margin: 60px 20px;
      }
   }

   .cookie__text {
      max-width: 220px;
   }
}

@media screen and (max-width: 424.89px) {
   [class*="__container"] {
      max-width: 400px;
      min-width: 250px;
      padding: 0 15px;
      margin: 0 auto;
   }

   .welcome {
      &__wel {
         margin: 60vh 0 0 0;
      }
      &__title {
         font-size: 60px;
         line-height: 73px;
      }
      &__text {
      }
      &__btn {
         width: 100%;
         padding: 14px 0;
         justify-content: center;
      }

      & .arrow-content {
      }
      & video {
         top: 35%;
      }
   }

   .stat-tm {
      &__value {
         font-size: 16px;
      }
      &__text {
         font-size: 12px;
      }
   }

   .mititoken {
      // .mititoken__name
      &__name {
         font-size: 18px;
         line-height: 22px;
      }

      // .mititoken__procents
      &__procents {
         grid-template-columns: 1fr;
      }

      // .mititoken__image
      &__image {
         width: 100%;
         height: auto;
      }
   }

   .zoomloop {
      &__play-btn {
         width: 100%;
         padding: 12.5px 0;
         display: flex;
         justify-content: center;
         .grad {
            display: none;
         }
         background: linear-gradient(277.37deg, #2d0073 -24.21%, #c843ff 131.33%);
      }
   }
   .preloader {
      & img,
      & svg,
      & span {
         transform: translate(-50%, -50%) scale(0.6);
      }
   }

   @media (max-width: 350px) {
      .zoomloop__content {
         & .case-img {
            top: -33px;
            max-width: 280px;
            width: 80%;
            right: -69px;
         }
      }
      .preloader {
         & img,
         & svg,
         & span {
            transform: translate(-50%, -50%) scale(0.3);
         }
      }
   }
   @media (max-width: 350px) {
      .mititoken {
         &__image--stat {
            width: 100px;
            height: 100px;
         }

         // .mititoken__value
         &__value {
            font-size: 13px;
         }

         // .mititoken__discription
         &__discription {
            font-size: 10px;
         }

         &__button {
            white-space: nowrap;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            text-align: center;
         }
      }
   }
   @media (max-width: 270px) {
      .header h2 {
         display: none;
      }
      .welcome__title {
         font-size: 50px;
      }
      .welcome__text {
      }
      .email {
         padding: 40px 10px;
         &__name {
            font-size: 30px;
         }
      }
      .menu {
         &__item {
            font-size: 15px;
         }
      }
   }
}
