.img_down._active {
    & img {
        &:first-child {
            transform: translate(0, 0) scale(1);
        }
    }
}

.roadmap._active .anim-show {
    background-color: #fff;
}

.about__container._active {
    & > p {
        transform: translate(0);
        opacity: 1;
    }
}

.ecosystem__name,
.titiland__name,
.zoomloop__name,
.miticoin__name,
.advantages__name,
.distribution__title {
    &._active {
        transform: translate(0);
        opacity: 1;
    }
}

.advert._active .advert {
    &__image,
    &__info,
    &__head {
        opacity: 1;
        transform: translate(0);
    }
}

.email._active {
    & input,
    & .btn,
    & .email__name,
    & .email__subtitle {
        transform: translate(0);
        opacity: 1;
    }
}
