.welcome {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: start;
   position: relative;

   video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 100%;
      z-index: -1;
      object-fit: contain;
   }

   .blur {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1920px;
      z-index: -1;
      background: radial-gradient(
         51.93% 81.64% at 49.17% 44.44%,
         rgba(0, 0, 0, 0) 39.06%,
         rgba(6, 4, 0, 0.22) 57.81%,

         rgba(12, 0, 21, 0.58) 88.54%
      );
   }

   .eart-bg {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1920px;
      z-index: -10;
   }

   &__wel {
      margin: 33vh 0 0 0;
      font-weight: 400;
      font-size: 15px;
      line-height: 130%;
      text-transform: uppercase;

      color: #939393;
   }

   &__title {
      font-weight: 900;
      font-size: 150px;
      text-transform: uppercase;
   }

   &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      max-width: 240px;
      margin: 20px 0 0 0;
   }

   &__btn {
      cursor: pointer;
      font-weight: 500;
      font-size: 15px;
      line-height: 130%;

      display: flex;
      align-items: center;
      padding: 10px 32px;
      margin: 50px 0 0 0;
      gap: 10px;

      background: #5865f2;
      box-shadow: 0px 0px 30px rgba(88, 101, 242, 0.3);
      border-radius: 100px;

      transition: background 0.6s ease 0s;
      &:hover {
         background: #3b4bfa;
      }

      & span {
      }
   }
}

.about {
   margin: 100px 0 0 0;
   display: flex;
   justify-content: space-between;

   &__block {
      flex: 0 1 610px;
      margin-right: 90px;
   }

   &__title {
      font-weight: 600;
      font-size: 30px;
   }

   &__line {
      width: 50px;
      height: 3px;
      background: linear-gradient(2deg, rgb(137, 81, 255) 0px, rgb(255, 138, 229) 33%);
      border-radius: 3px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      margin: 21px 0;
   }

   &__info {
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.8s ease 0s;
      &._2 {
         transform: translateX(50%);
         opacity: 0;
      }
   }

   &__logo {
      margin: 10px 0 0 0;
   }
}

.titiland {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-width: 0;

   margin: 15% 0 0 0;
   &__name {
      transform: translateX(50%);
      opacity: 0;
      transition: all 0.8s ease;
   }

   &__slaider {
      flex: 0 1 50%;
   }

   &__slaider-body {
      min-width: 0;
      position: relative;
      max-width: 410px;
      margin: 0 auto;

      .back {
         position: absolute;
         left: 64px;
         top: 60px;
         width: 70%;
         z-index: -1;
         height: 80%;
         background: linear-gradient(359.28deg, rgba(216, 72, 255, 0.3) 6.14%, rgba(216, 72, 255, 0.048) 101.75%);
         filter: blur(7.5px);
         transform: matrix(1, 0, 0, -1, 0, 0);
      }
   }

   &__col-top img,
   &__col-down img {
      width: 100%;
   }

   & .swiper-pagination {
      position: absolute;
      bottom: -85px;
      display: none;
   }

   &__photos {
      display: flex;
      align-items: center;
      position: relative;
   }

   &__arr-left,
   &__arr-right {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 40px;
   }

   .arr-right,
   .arr-left {
      width: 24px;
      height: 18px;
      position: relative;
      &:first-child {
         margin-right: -5px;
      }
      &::before {
         content: "";
         position: absolute;
         width: 23px;
         height: 4px;
         border-radius: 5px;
         background: #a939ff;
         top: 0;
         transform: rotate(-45deg);
      }
      &::after {
         content: "";
         position: absolute;
         width: 23px;
         height: 4px;
         border-radius: 5px;
         background: #a939ff;
         bottom: 0;
         transform: rotate(45deg);
      }
      transition: border 0.6s ease 0s, transform 0.6s ease 0s;
   }

   .arr-right {
      transform: rotate(180deg);
   }

   &__arr-right:hover {
      & .arr-right {
         transform: scale(1.1) rotate(180deg);
         &::before {
            background: #f373eb;
         }
         &::after {
            background: #f373eb;
         }
      }
   }
   &__arr-left:hover {
      & .arr-left {
         transform: scale(1.1) rotate(0deg);
         &::before {
            background: #f373eb;
         }
         &::after {
            background: #f373eb;
         }
      }
   }

   &__content {
      flex: 0 1 550px;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 0 140px 0 0;
   }

   &__name {
      margin: 46px 0 0 0;
   }

   &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      margin: 30px 0 0 0;
   }

   &__more {
      margin: 60px 0 0 0;
   }
}

.swiper {
   max-width: 268px;
   img {
      object-fit: contain;
      width: 100%;
      height: 300px;
   }

   &-pagination {
      position: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
   }
   &-pagination-bullet {
      background: #a233dd;
      width: 6px;
      height: 6px;
      margin: 0 6px;
      &-active {
         width: 10px;
         height: 10px;
      }
   }
}

.zoomloop {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 15% 0 0 0;
   position: relative;

   &__content {
      margin: 60px 0 60px 60px;

      flex: 0 1 562px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;

      .case-img {
         position: absolute;
         top: -104px;
         right: -142px;
         z-index: -1;
         width: 69%;
      }

      & .blur {
         position: absolute;
         width: 40%;
         filter: blur(150px);
         top: 76px;
      }
   }

   &__opentxt {
      font-weight: 500;
      font-size: 30px;
   }

   &__name {
      margin-top: 8px;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.8s ease;
   }

   &__text {
      margin: 19px 0 0 0;

      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
   }

   &__play-btn {
      margin: 60px 0 0 0;
   }

   &__phone {
      flex: 0 1 50%;
      .phone-base {
         position: relative;
         display: flex;
         justify-content: center;
         max-width: 427px;
         margin: 0 auto;

         & .img_down {
            position: absolute;
            bottom: -8%;
            left: 0;
            z-index: -12;
            width: 100%;
            filter: drop-shadow(0px 4px 21px #bd00ff);
         }
         & img:first-child {
            z-index: -12;
            width: 100%;
            transform: translate(0, -100%) scale(0);
            transition: transform 0.7s ease 0s;
         }

         & img:nth-child(2) {
            z-index: 1;
            width: 66%;
         }
      }
   }

   .phone-bg-img {
      position: absolute;
      z-index: -13;
      width: 100%;
      transform: translate(45%, 30%) rotate(150deg) scale(0);
      transition: transform 0.8s ease 0s;

      &._1 {
         max-width: 340px;
         left: -75px;
         top: -240px;
      }

      &._2 {
         transform: translate(-90%, 62%) rotate(45deg) scale(0);
         max-width: 170px;
         right: -59px;
         top: -213px;
      }
   }

   &__back {
      position: absolute;
      top: 3%;
      left: 0;
      z-index: -11;

      width: 100%;
      height: 94%;

      background: linear-gradient(96.36deg, #0021cc -10.12%, #04125e 128.75%), #000000;
      opacity: 0.6;
      border-radius: 50px;

      &:nth-child(2) {
         z-index: -10;
         background: rgba(0, 0, 0, 0.9);
         opacity: 0.6;
         border-radius: 50px;
      }
   }

   &__lines {
      width: 78%;
      position: absolute;
      left: -50px;
      top: -50px;
      z-index: -13;
   }

   &__blur-1 {
      position: absolute;
      width: 35%;
      top: -92px;
      right: -132px;
      z-index: -13;
      filter: blur(200px);
   }

   &__blur-2 {
      position: absolute;
      width: 35%;
      bottom: -150px;
      right: -96px;
      z-index: -13;
      filter: blur(200px);
   }

   &__blur-3 {
      position: absolute;
      width: 35%;
      bottom: -66px;
      left: 56px;
      z-index: -13;
      filter: blur(200px);
   }

   .case-img2 {
      position: absolute;
      width: 17%;
      bottom: -100px;
      right: -112px;
   }
}

.miticoin {
   margin: 18% 0 0 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: relative;
   &__name {
      transform: translateX(50%);
      opacity: 1;
      transition: all 0.8s ease;
   }

   &__video {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;

      .blur {
         position: absolute;
         left: 2.5%;
         bottom: 8%;
         width: 95%;
         z-index: 2;
         filter: blur(13.5px);
      }
   }

   &__main {
      max-width: 315px;
      margin: 0 auto;
      position: relative;
      & video,
      & img {
         width: 100%;
      }

      & video {
         z-index: 1;
      }

      & img {
         z-index: 3;
      }
   }

   &__content {
      flex: 0 1 608px;
      position: relative;
   }

   &__content--blur {
      position: absolute;
      background: linear-gradient(180.04deg, rgba(223, 47, 226, 0.3) 25.55%, rgba(181, 52, 160, 0) 94.15%);
      height: 100%;
      width: 50%;
      border-radius: 50%;
      top: 10px;
      filter: blur(200px);
   }

   &__text {
      margin: 30px 0 0 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
   }

   &__lines {
      position: absolute;
      top: 19px;
      left: 371px;
   }
}

.tocenomics {
   margin: 200px 0 0 0;
   // .tocenomics__txt
   &__txt {
      font-size: 30px;
      line-height: calc(36 / 30);
      margin: 0 0 6px 0;
   }

   // .tocenomics__name
   &__name {
   }

   // .tocenomics__stat
   &__stat {
      margin: 60px 0 0 0;
   }
}
.stat-tm {
   // .stat-tm__item
   &__item {
      display: flex;
   }

   &__bar:first-child,
   &__description:first-child {
      flex: 0 1 51%;
   }

   &__bar:last-child,
   &__description:last-child {
      flex: 0 1 300px;
      margin-left: -20px;
   }

   // .stat-tm__bar
   &__bar {
      text-align: center;
      padding: 15px 10px;
      background: #521094;
      box-shadow: 0px 0px 11px #650eba;
      border-radius: 11px;

      &.pink {
         background: #9c30d7;
         box-shadow: 0px 0px 11px #9c30d7;
      }
   }

   // .stat-tm__value
   &__value {
      font-weight: 700;
      font-size: 22px;
      line-height: 140%;
   }

   // .stat-tm__text
   &__text {
      font-size: 14px;
      line-height: 140%;
   }

   // .stat-tm__info
   &__info {
      font-size: 16px;
      line-height: 140%;
   }

   // .stat-tm__description
   &__description {
      display: flex;
      align-items: center;
      margin: 25px 0 0 0;
   }

   // .stat-tm__procent
   &__procent {
      font-weight: 700;
      font-size: 30px;
      line-height: calc(36 / 30);
   }

   // .stat-tm__line
   &__line {
      width: 1px;
      height: 40px;

      background: #9c30d7;
      border-radius: 1px;
      margin: 0 12px;
   }
}

.mititoken {
   margin: 190px 0 0 0;
   display: flex;
   align-items: center;
   justify-content: space-between;

   // .mititoken__information
   &__information {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      align-items: start;
   }

   // .mititoken__name
   &__name {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      max-width: 565px;
   }

   // .mititoken__procents
   &__procents {
      margin: 40px 0 50px 0;
      display: grid;
      grid-template-columns: 300px 1fr 1fr;
   }

   // .mititoken__item
   &__item {
      cursor: default;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 14px 17px;
      border: 1px solid transparent;

      &.hovered {
         border-radius: 5px;
      }

      &:nth-child(1),
      &:nth-child(4) {
         flex: 0 1 300px;
      }

      &._1 {
         &.hovered {
            border: 1px solid #8b50ff;
         }
         & .mititoken__icon {
            background: #650eba;
         }
      }
      &._2 {
         &.hovered {
            border: 1px solid #4cbe58;
         }
         & .mititoken__icon {
            background: #4cbe58;
         }
      }
      &._3 {
         &.hovered {
            border: 1px solid #48bca1;
         }
         & .mititoken__icon {
            background: #48bca1;
         }
      }
      &._4 {
         &.hovered {
            border: 1px solid #d84c4c;
         }
         & .mititoken__icon {
            background: #d84c4c;
         }
      }
      &._5 {
         &.hovered {
            border: 1px solid #375ee7;
         }
         & .mititoken__icon {
            background: #375ee7;
         }
      }
   }

   // .mititoken__icon
   &__icon {
      flex: 0 0 52px;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background: #650eba;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   // .mititoken__stat
   &__stat {
   }

   // .mititoken__text
   &__text {
      font-size: 18px;
      line-height: 130%;
      white-space: nowrap;
   }

   // .mititoken__procent
   &__procent {
      margin: 4px 0 0 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      color: #939293;
   }

   // .mititoken__button
   &__button {
   }

   // .mititoken__image
   &__image {
      position: relative;
      max-width: 484px;
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 0 0 22px;

      background-size: contain;
      position: relative;

      &._1 .mititoken__image--stat {
         background: #650eba;
         box-shadow: 0px 0px 19px #650eba;
         border: none;
      }
      &._2 .mititoken__image--stat {
         background: #4cbe58;
         box-shadow: 0px 0px 19px #4cbe58;
         border: none;
      }
      &._3 .mititoken__image--stat {
         background: #48bca1;
         box-shadow: 0px 0px 19px #48bca1;
         border: none;
      }
      &._4 .mititoken__image--stat {
         background: #d84c4c;
         box-shadow: 0px 0px 19px #d84c4c;
         border: none;
      }
      &._5 .mititoken__image--stat {
         background: #375ee7;
         box-shadow: 0px 0px 19px #375ee7;
         border: none;
      }

      &._1 img:nth-child(1),
      &._2 img:nth-child(2),
      &._3 img:nth-child(3),
      &._4 img:nth-child(4),
      &._5 img:nth-child(5) {
         transform: scale(1.05);
      }
   }

   // .mititoken__image img
   &__image img {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: transform 0.5s ease;
   }

   &__image img:first-child {
      width: 100%;
      position: relative;
   }

   // .mititoken__image--stat
   &__image--stat {
      max-height: 484px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 170px;
      height: 170px;
      border-radius: 50%;

      border: 1px solid #fcfcfc;
      transition: all 0.5s ease;
      background: transparent;
   }

   // .mititoken__value
   &__value {
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
   }

   // .mititoken__discription
   &__discription {
      font-size: 14px;
      line-height: 120%;
   }
}

.team {
   margin: 100px 0 0 0;
   &__personal.phone {
      display: none;
      position: relative;
   }
   &__master {
      display: flex;
      justify-content: space-between;
   }

   &__title {
      flex: 0 1 50%;
      font-weight: 700;
      font-size: 60px;
      line-height: 73px;
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      justify-content: start;

      & h2 {
         max-width: 400px;
         transform: translateX(-50%);
         opacity: 0;
         transition: all 0.8s ease;
      }
   }

   &__liders {
      flex: 0 1 50%;
      display: flex;

      & .team__item {
         margin: 0 8px;
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      flex: 0 0 220px;
      overflow: hidden;
      &:last-child {
         margin-right: 30px;
      }
   }

   &__item--photo {
      border-radius: 10px;
      overflow: hidden;
      transition: box-shadow 0.5s ease 0s;
      & img {
         width: 100%;
         object-fit: cover;
         transition: transform 0.5s ease 0s;
      }
      &:hover {
         img {
            transform: scale(1.1);
         }
      }
   }

   &__item--name {
      font-weight: 700;
      font-size: 22px;
      line-height: 19px;
      margin-top: 16px;
      color: #ffffff;
      text-transform: uppercase;
   }

   &__personal {
      position: absolute;
      gap: 16px;
      margin: 50px 0 0 0;
      display: flex;
      gap: 20px;
      overflow-x: scroll;
   }

   &__personal::-webkit-scrollbar {
      position: absolute;
      display: none;
   }

   &__item--pos {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      margin-top: 4px;
      color: #939393;
      text-transform: uppercase;
   }

   &__item--info {
      font-weight: 400;
      font-size: 10px;
      line-height: 130%;
      margin-top: 8px;
      color: #ffffff;
   }
}

.email {
   padding: 60px;
   margin: 500px 0 0 0;
   border-radius: 50px;
   position: relative;
   overflow: hidden;

   & p {
      font-weight: 400;
      font-size: 30px;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.8s ease;
   }

   &__name {
      margin: 8px 0 0 0;
      transform: translateX(50%);
      opacity: 0;
      transition: all 0.8s ease;
   }

   & .form {
      margin: 30px 0 0 0;
      display: flex;
      align-items: start;

      &__item {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      &__item span {
         opacity: 0;
         font-weight: 400;
         font-size: 12px;
         line-height: 15px;
         color: #bf1214;
         margin-top: 5px;
         &.error {
            opacity: 1;
         }
      }
   }

   & input {
      padding: 10px 32px 10px 20px;

      width: 309px;
      height: 39px;

      background: #040718;
      border: 1px solid #8951ff;
      border-radius: 100px;

      font-weight: 400;
      font-size: 15px;

      color: #fcfcfc;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.8s ease;

      &:focus {
         box-shadow: 0px 0px 10px #d848ff;
      }
   }

   & .form__btn {
      margin: 0px 0 0 8px;
      transform: translateX(50%);
      opacity: 0;
      transition: all 0.8s ease;
      background: #722494;
      border: 0;
      &:focus {
         box-shadow: 0 0 0;
      }
      &:hover {
         background: #8129a7;
      }
   }

   &__blur {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      background: linear-gradient(96.36deg, #0021cc -10.12%, #04125e 128.75%), #000000;
      opacity: 0.6;
      border-radius: 50px;
      z-index: -2;
   }

   &__blur-elipse {
      position: absolute;

      left: 50px;
      top: 50px;
      width: 130%;
      z-index: -3;
   }

   &__blur-moon {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
   }
}

input.error {
   border: 1px solid #be1111;
   box-shadow: none;
   &:focus {
      border: 1px solid #be1111;
      box-shadow: none;
   }
}
