.welcome {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: start;
   position: relative;

   video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 100%;
      z-index: -1;
      object-fit: contain;
   }

   .blur {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1920px;
      z-index: -1;
      background: radial-gradient(
         51.93% 81.64% at 49.17% 44.44%,
         rgba(0, 0, 0, 0) 39.06%,
         rgba(6, 4, 0, 0.22) 57.81%,

         rgba(12, 0, 21, 0.58) 88.54%
      );
   }

   .eart-bg {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1920px;
      z-index: -10;
   }

   &__wel {
      margin: 33vh 0 0 0;
      font-weight: 400;
      font-size: 15px;
      line-height: 130%;
      text-transform: uppercase;

      color: #939393;
   }

   &__title {
      font-weight: 900;
      font-size: 150px;
      text-transform: uppercase;
   }

   &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      max-width: 240px;
      margin: 20px 0 0 0;
   }

   &__btn {
      cursor: pointer;
      font-weight: 500;
      font-size: 15px;
      line-height: 130%;

      display: flex;
      align-items: center;
      padding: 10px 32px;
      margin: 50px 0 0 0;
      gap: 10px;

      background: #5865f2;
      box-shadow: 0px 0px 30px rgba(88, 101, 242, 0.3);
      border-radius: 100px;

      transition: background 0.6s ease 0s;
      &:hover {
         background: #3b4bfa;
      }

      & span {
      }
   }
}

.about {
   margin: 100px 0 0 0;
   display: flex;
   justify-content: space-between;

   &__block {
      flex: 0 1 610px;
      margin-right: 90px;
   }

   &__title {
      font-weight: 600;
      font-size: 30px;
   }

   &__line {
      width: 50px;
      height: 3px;
      background: linear-gradient(2deg, rgb(137, 81, 255) 0px, rgb(255, 138, 229) 33%);
      border-radius: 3px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      margin: 21px 0;
   }

   &__info {
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
   }

   &__logo {
      margin: 10px 0 0 0;
   }
}

.titiland {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-width: 0;

   margin: 15% 0 0 0;

   &__slaider {
      flex: 0 1 50%;
   }

   &__slaider-body {
      min-width: 0;
      position: relative;
      max-width: 410px;
      margin: 0 auto;

      .back {
         position: absolute;
         left: 64px;
         top: 60px;
         width: 70%;
         z-index: -1;
         height: 80%;
         background: linear-gradient(359.28deg, rgba(216, 72, 255, 0.3) 6.14%, rgba(216, 72, 255, 0.048) 101.75%);
         filter: blur(7.5px);
         transform: matrix(1, 0, 0, -1, 0, 0);
      }
   }

   &__col-top img,
   &__col-down img {
      width: 100%;
   }

   &__photos {
      display: flex;
      align-items: center;
   }

   &__arr-left,
   &__arr-right {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 40px;
   }

   .arr-right,
   .arr-left {
      &:first-child {
         margin-right: -5px;
      }

      width: 30px;
      height: 30px;
      border-top: 4px solid #a939ff;
      border-right: 4px solid #a939ff;
      border-radius: 5px 0 5px 0;

      transform: rotate(-135deg);
      transition: border 0.6s ease 0s, transform 0.6s ease 0s;
   }

   .arr-right {
      transform: rotate(45deg);
   }

   &__arr-right:hover {
      & .arr-right {
         border-color: #f373eb;
         transform: scale(1.1) rotate(45deg);
      }
   }
   &__arr-left:hover {
      & .arr-left {
         border-color: #f373eb;
         transform: scale(1.1) rotate(-135deg);
      }
   }

   &__content {
      flex: 0 1 550px;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 0 140px 0 0;
   }

   &__name {
      margin: 46px 0 0 0;
   }

   &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      margin: 30px 0 0 0;
   }

   &__more {
      margin: 60px 0 0 0;
   }
}

.swiper {
   max-width: 268px;
   img {
      object-fit: contain;
      width: 100%;
      height: 300px;
   }
}

.zoomloop {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 15% 0 0 0;
   position: relative;

   &__content {
      margin: 60px 0 60px 60px;

      flex: 0 1 562px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;

      .case-img {
         position: absolute;
         top: -104px;
         right: -142px;
         z-index: -1;
         width: 69%;
      }

      & .blur {
         position: absolute;
         width: 40%;
         filter: blur(150px);
         top: 76px;
      }
   }

   &__opentxt {
      font-weight: 500;
      font-size: 30px;
   }

   &__name {
      margin-top: 8px;
   }

   &__text {
      margin: 19px 0 0 0;

      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
   }

   &__play-btn {
      margin: 60px 0 0 0;
   }

   &__phone {
      flex: 0 1 50%;
      .phone-base {
         position: relative;
         display: flex;
         justify-content: center;
         max-width: 427px;
         margin: 0 auto;

         & .img_down {
            position: absolute;
            bottom: -8%;
            left: 0;
            z-index: -12;
            width: 100%;
            filter: drop-shadow(0px 4px 21px #bd00ff);
         }
         & img:first-child {
            z-index: -12;
            width: 100%;
            transform: translate(0, -100%) scale(0);
            transition: transform 0.7s ease 0s;
         }

         & img:nth-child(2) {
            z-index: 1;
            width: 66%;
         }
      }
   }

   .phone-bg-img {
      position: absolute;
      z-index: -13;
      width: 100%;
      transform: translate(45%, 30%) rotate(150deg) scale(0);
      transition: transform 0.8s ease 0s;

      &._1 {
         max-width: 340px;
         left: -75px;
         top: -240px;
      }

      &._2 {
         transform: translate(-90%, 62%) rotate(45deg) scale(0);
         max-width: 170px;
         right: -59px;
         top: -213px;
      }
   }

   &__back {
      position: absolute;
      top: 3%;
      left: 0;
      z-index: -11;

      width: 100%;
      height: 94%;

      background: linear-gradient(96.36deg, #0021cc -10.12%, #04125e 128.75%), #000000;
      opacity: 0.6;
      border-radius: 50px;

      &:nth-child(2) {
         z-index: -10;
         background: rgba(0, 0, 0, 0.9);
         opacity: 0.6;
         border-radius: 50px;
      }
   }

   &__lines {
      width: 78%;
      position: absolute;
      left: -50px;
      top: -50px;
      z-index: -13;
   }

   &__blur-1 {
      position: absolute;
      width: 35%;
      top: -92px;
      right: -132px;
      z-index: -13;
      filter: blur(200px);
   }

   &__blur-2 {
      position: absolute;
      width: 35%;
      bottom: -150px;
      right: -96px;
      z-index: -13;
      filter: blur(200px);
   }

   &__blur-3 {
      position: absolute;
      width: 35%;
      bottom: -66px;
      left: 56px;
      z-index: -13;
      filter: blur(200px);
   }

   .case-img2 {
      position: absolute;
      width: 17%;
      bottom: -100px;
      right: -112px;
   }
}

.miticoin {
   margin: 18% 0 0 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: relative;

   &__video {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;

      .blur {
         position: absolute;
         left: 2.5%;
         bottom: 8%;
         width: 95%;
         z-index: 2;
         filter: blur(13.5px);
      }
   }

   &__main {
      max-width: 315px;
      margin: 0 auto;
      position: relative;
      & video,
      & img {
         width: 100%;
      }

      & video {
         z-index: 1;
      }

      & img {
         z-index: 3;
      }
   }

   &__content {
      flex: 0 1 608px;
      position: relative;
   }

   &__content--blur {
      position: absolute;
      background: linear-gradient(180.04deg, rgba(223, 47, 226, 0.3) 25.55%, rgba(181, 52, 160, 0) 94.15%);
      height: 100%;
      width: 50%;
      border-radius: 50%;
      top: 10px;
      filter: blur(200px);
   }

   &__text {
      margin: 30px 0 0 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
   }

   &__lines {
      position: absolute;
      top: 19px;
      left: 371px;
   }
}

.team {
   margin: 100px 0 0 0;
   &__master {
      display: flex;
      justify-content: space-between;
   }

   &__title {
      flex: 0 1 50%;
      font-weight: 700;
      font-size: 60px;
      line-height: 73px;
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      justify-content: start;

      & h2 {
         max-width: 400px;
      }
   }

   &__liders {
      flex: 0 1 50%;
      display: flex;

      & .team__item {
         margin: 0 8px;
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      flex: 0 1 220px;
      overflow: hidden;
   }

   &__item--photo {
      border-radius: 10px;
      overflow: hidden;
      transition: box-shadow 0.5s ease 0s;
      & img {
         width: 100%;
         object-fit: cover;
         transition: transform 0.5s ease 0s;
      }
      &:hover {
         img {
            transform: scale(1.1);
         }
      }
   }

   &__item--name {
      font-weight: 700;
      font-size: 22px;
      line-height: 19px;
      margin-top: 16px;
      color: #ffffff;
      text-transform: uppercase;
   }

   &__personal {
      gap: 16px;
      margin: 50px 0 0 0;
      display: flex;
      justify-content: start;
      justify-content: space-between;
   }

   &__personal::-webkit-scrollbar {
      display: none;
   }

   &__item--pos {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      margin-top: 4px;
      color: #939393;
      text-transform: uppercase;
   }

   &__item--info {
      font-weight: 400;
      font-size: 10px;
      line-height: 130%;
      margin-top: 8px;
      color: #ffffff;
   }
}

.email {
   padding: 60px;
   margin: 15% 0 0 0;
   border-radius: 50px;
   position: relative;
   overflow: hidden;

   & p {
      font-weight: 400;
      font-size: 30px;
   }

   &__name {
      margin: 8px 0 0 0;
   }

   & form {
      margin: 30px 0 0 0;
   }

   & input {
      padding: 10px 32px 10px 20px;

      width: 309px;
      height: 39px;

      background: #040718;
      border: 1px solid #8951ff;
      border-radius: 100px;

      font-weight: 400;
      font-size: 15px;

      color: #fcfcfc;
      transition: all 0.4s ease 0s;

      &:focus {
         box-shadow: 0px 0px 10px #d848ff;
      }
   }

   & form {
      display: flex;
      align-items: center;
   }

   & .form__btn {
      margin: 0px 0 0 8px;
   }

   &__blur {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      background: linear-gradient(96.36deg, #0021cc -10.12%, #04125e 128.75%), #000000;
      opacity: 0.6;
      border-radius: 50px;
      z-index: -2;
   }

   &__blur-elipse {
      position: absolute;

      left: 50px;
      top: 50px;
      width: 130%;
      z-index: -3;
   }

   &__blur-moon {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
   }
}

/* Webkit */
input:focus::-webkit-input-placeholder {
   opacity: 0;
   transition: all 0.4s ease 0s;
}
/* Mozilla Firefox 4 - 18 */
input:focus:-moz-placeholder {
   opacity: 0;
   transition: all 0.4s ease 0s;
}
/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
   opacity: 0;
   transition: all 0.4s ease 0s;
}
/* IE 10+ */
input:focus:-ms-input-placeholder {
   opacity: 0;
   transition: all 0.4s ease 0s;
}

/* Webkit */
input::-webkit-input-placeholder {
   color: #939393;
}
/* Mozilla Firefox 4 - 18 */
input:-moz-placeholder {
   color: #939393;
}
/* Mozilla Firefox 19+ */
input::-moz-placeholder {
   color: #939393;
}
/* IE 10+ */
input:-ms-input-placeholder {
   color: #939393;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   border: 1px solid #8951ff;
   -webkit-text-fill-color: #fcfcfc;
   -webkit-box-shadow: 0px 0px 10px #d848ff;
   transition: background-color 5000s ease-in-out 0s;
}
