//////////////////////////////// Шрифты ////////////////////////////////
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@900&Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800&family=Prosto+One&display=swap");
@import url("https://fonts.cdnfonts.com/css/neuropol-x");
//////////////////////////////// Шрифты ////////////////////////////////
///
///
///
//////////////////////////////// Обнуление ////////////////////////////////
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   font-family: "Inter", sans-serif;
   color: #fcfcfc;
   background: #040718; //#010114;
}
input,
button,
textarea {
   font-family: "Inter", sans-serif;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
a,
label {
   -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
p {
   margin-top: 20px;

   @media only screen and (max-width: 1024px) {
      margin-top: 15px;
   }
}
video {
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
img {
   pointer-events: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
//////////////////////////////// Обнуление ////////////////////////////////
