.roadmap {
    margin: 15% 0 0 0;
    height: 500px; // Убрать
    display: flex;
    justify-content: end;
}
.rm {
    max-width: 930px;
    width: 100%;
    height: 100%;
    position: relative;

    &__line {
        position: absolute;
        width: calc(100% - 256px);
        max-width: 690px;
        height: 1px;
        left: 0;
        top: 0;

        border: 1px solid #d146ff;
        background: #d146ff;
        box-shadow: 0px 0px 20px #d848ff;
    }

    &__elipse {
        position: absolute;
        top: 0;
        right: 0;
        height: 256px;
        width: 100%;
        max-width: 128px;
        border-radius: 0 150px 150px 0;
        border: 3px solid #d146ff;
        box-shadow: inset -30px 0px 40px -35px #d848ff, 16px 0px 28px -25px #d848ff;;
        border-left: none;
    }
}

.line-1 {
    max-width: 930px;
    width: 100%;
    left: -200%;
}

.line-2 {
    max-width: 930px;
    width: 100%;
    left: calc(-200% + 930px);
}
.line-3 {
    right: 128px;
    left: auto;
}
.line-4 {
    left: auto;
    right: 128px;
    top: 253px;
}
.elipse-2 {
    right: auto;
    left: 0;
    top: 253px;
    transform: rotate(180deg);
}
