.about {
	margin: 100px 0 0 0;

	&__container {
		max-width: 995px;
		text-align: center;

		& > p {
			opacity: 0;
			transition: all 0.8s ease;

			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					@if $i % 2 == 1 {
						transform: translate(-50%);
					} @else {
						transform: translate(50%);
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.about {
		margin: 50px 0 0 0;
	}
}

@media only screen and (max-width: 530px) {
	.about {
		gap: 50px;
		flex-direction: column;

		&__title {
			font-size: 25px;
		}
	}
}
