.email {
	padding: 60px;
	margin: 100px 0 0 0;
	position: relative;

	border-radius: 15px;
	background: rgba(61, 63, 75, 0.3);
	box-shadow: 0px 1px 3px 0px rgba(219, 95, 255, 0.8) inset;
	backdrop-filter: blur(4.5px);

	&__subtitle {
		transform: translateX(-50%);
		opacity: 0;
		transition: all 0.8s ease;
	}

	&__name {
		margin: 8px 0 0 0;
		transform: translateX(50%);
		opacity: 0;
		transition: all 0.8s ease;
	}

	& .form {
		margin: 30px 0 0 0;
		display: flex;
		align-items: start;

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__item span {
			opacity: 0;
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			color: #bf1214;
			margin-top: 5px;
			&.error {
				opacity: 1;
			}
		}
	}

	& input {
		padding: 12px 20px;
		max-width: 309px;

		background: #040718;
		border: 1px solid #8951ff;
		border-radius: 100px;

		font-family: Montserrat;
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
		color: #fcfcfc;

		transform: translateX(-50%);
		opacity: 0;
		transition: all 0.8s ease;

		&:focus {
			box-shadow: 0px 0px 10px #d848ff;
		}

		&.error {
			border: 1px solid #be1111;
			box-shadow: none;
			&:focus {
				border: 1px solid #be1111;
				box-shadow: none;
			}
		}
	}

	& .form__btn {
		max-width: 202px;
		text-align: center;
		margin: 0px 0 0 8px;

		transform: translateX(50%);
		opacity: 0;
		transition: all 0.8s ease;
		border: 0;

		&:focus {
			box-shadow: 0 0 0;
		}
	}

	&__blur {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background: linear-gradient(96.36deg, #0021cc -10.12%, #04125e 128.75%), #000000;
		opacity: 0.6;
		border-radius: 50px;
		z-index: -2;
	}

	&__blur-elipse {
		position: absolute;

		left: 50px;
		top: 50px;
		width: 130%;
		z-index: -3;
	}

	&__blur-moon {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		z-index: -1;
	}
}

@media only screen and (max-width: 1024px) {
	.email {
		padding: 40px;
	}

	.form {
		&__btn {
			padding: 12px 8px;
			text-align: center;
			flex: 1 1 auto;
		}
	}
}

@media only screen and (max-width: 550px) {
	.email {
		padding: 40px 20px;

		.form {
			display: flex;
			flex-direction: column;

			&__item,
			&__btn,
			& input {
				max-width: 100%;
				width: 100%;
			}

			&__btn {
				margin: 0 0 0 0;
			}
		}
	}
}
