$colors: (
	_1: #d84c4c,
	_2: #d848ff,
	_3: #4cbe58,
	_4: #375ee7,
	_5: #48bca1,
	_6: #e2d133,
	_7: #650eba,
	_11: #650eba,
	_12: #d84c4c,
	_13: #4cbe58
);

#stats {
	display: flex;
	flex-direction: column;
}

.stats {
	margin: -40px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;

	&__information {
		flex: 0 1 70%;
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	&__name {
		font-weight: 800;
		font-size: 40px;
		line-height: 48px;
		max-width: 565px;
	}

	&__percents--wrapper {
		margin: 40px 0;
		transition: margin 0.4s ease;
		position: relative;
	}

	&__percents {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px 20px;
		opacity: 1;

		transition: opacity 0.4s ease-in-out;

		&._mining {
			grid-template-columns: repeat(2, 1fr);

			margin: 0 0 0 0;
			max-width: 586px;
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
		}
	}

	&__item {
		cursor: default;
		display: flex;
		align-items: center;
		gap: 8px;

		border: 1px solid transparent;
		border-radius: 16px;
		padding: 14px;

		transition:
			border 0.3s ease,
			box-shadow 0.3s ease;

		@each $key, $color in $colors {
			&.#{$key} {
				&.hovered {
					border-radius: 16px;
					border: 1px solid $color;
					box-shadow: 0px 0px 20px 0px $color;
				}
				& .stats__icon {
					background: $color;
				}
			}
		}
	}

	&__icon {
		flex: 0 0 52px;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__text {
		font-size: 18px;
		line-height: 130%;
	}

	&__percent {
		margin: 4px 0 0 0;
		font-weight: 600;
		font-size: 14px;
		line-height: 130%;
		color: #939293;
	}

	&__circle--wrapper {
		flex: 0 0 400px;
		aspect-ratio: 1 / 1;
		position: relative;
	}

	&__circle {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;
		opacity: 1;

		background-size: contain;
		position: relative;

		transition: opacity 0.4s ease-in-out;

		@each $key, $color in $colors {
			&.#{$key} .stats__circle--stat {
				background: $color;
				box-shadow: 0px 0px 19px $color;
				border: none;
			}

			&.#{$key} .stats__image.#{$key} {
				transform: scale(1.05);
			}
		}

		&._mining {
			pointer-events: none;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
		}
	}

	&__circle img {
		width: 100%;
		height: 100%;
		position: absolute;
		transition: transform 0.5s ease;
	}

	&__circle img:first-child {
		position: relative;
	}

	&__circle--stat {
		max-height: 484px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 170px;
		height: 170px;
		border-radius: 50%;

		border: 1px solid #fcfcfc;
		transition: all 0.5s ease;
		background: transparent;
	}

	&__value {
		color: #fff;
		font-weight: 700;
		font-size: 18px;
		line-height: 120%;
	}

	&__discription {
		font-size: 18px;
		line-height: 120%;
	}

	&__tabs {
		display: flex;
		align-items: bottom;
	}

	&__tab {
		color: #918bb4;
		text-shadow: 0px 0px 40px rgba(255, 41, 246, 0.4);
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;

		border: 1px solid transparent;
		border-bottom: 1px solid #918bb4;
		border-radius: 16px 16px 0px 0px;
		background: transparent;

		padding: 19px 26px;

		transition: all 0.4s ease;

		&:first-child {
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}

		&._active {
			color: #fff;
			background: #000;
			border: 1px solid #8b50ff;
			box-shadow: 0px 0px 7.3px 0px #d848ff;
		}
	}
}

.stats._mining .stats {
	&__percents {
		opacity: 0;
		pointer-events: none;

		&._mining {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__circle {
		opacity: 0;
		pointer-events: none;

		&._mining {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.chart {
	height: 100%;
	width: 100%;
	position: absolute;
}
.unit {
	fill: none;
	stroke-width: 10;
	cursor: pointer;
	stroke: transparent;
	position: relative;
	z-index: 1;

	&._1.p1 {
		stroke-dasharray: 37.5 125;
	}

	&._1.p2 {
		stroke-dasharray: 31 125;
		stroke-dashoffset: -93.8;
	}

	&._2 {
		stroke-dasharray: 1.4 125;
		stroke-dashoffset: -92;
	}

	&._3 {
		stroke-dasharray: 1.3 125;
		stroke-dashoffset: -90.5;
	}

	&._4 {
		stroke-dasharray: 2.4 125;
		stroke-dashoffset: -87.8;
	}

	&._5 {
		stroke-dasharray: 11.2 125;
		stroke-dashoffset: -76.2;
	}

	&._6 {
		stroke-dasharray: 12.4 125;
		stroke-dashoffset: -63.2;
	}

	&._7 {
		stroke-dasharray: 25 125;
		stroke-dashoffset: -37.9;
	}

	&._11.p1 {
		stroke-dasharray: 55.8 125;
	}

	&._11.p2 {
		stroke-dasharray: 31 125;
		stroke-dashoffset: -93.8;
	}

	&._12 {
		stroke-dasharray: 12.6 125;
		stroke-dashoffset: -80.6;
	}

	&._13 {
		stroke-dasharray: 23.6 125;
		stroke-dashoffset: -56.6;
	}
}

@media only screen and (max-width: 1200px) {
	.stats {
		&__percents {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media only screen and (max-width: 1024px) {
	.stats {
		&__percents--wrapper {
			margin: 30px 0 0;
		}

		&__percents._mining {
			grid-template-columns: 1fr;
			max-width: 260px;
		}

		&__icon {
			flex: 0 0 40px;
			width: 40px;
			height: 40px;
			& img {
				width: 22px;
				height: 22px;
			}
		}

		&__text {
			font-size: 14px;
		}

		&__percent {
			font-size: 12px;
		}

		&__circle--wrapper {
			flex: 0 0 300px;
		}

		&__circle--stat {
			flex: 0 0 150px;
			width: 150px;
			height: 150px;
		}

		&__tab {
			font-size: 14px;
			font-weight: 400;
			padding: 12px 19px;
		}

		&__button {
			margin: 20px auto 0;
			max-width: 320px;
			align-self: center;
		}
	}
}

@media only screen and (max-width: 768px) {
	.stats {
		flex-direction: column;
		gap: 10px;

		&__percents {
			gap: 7px 10px;
		}

		&._mining .stats__percents--wrapper {
			margin-bottom: -60px;
		}

		&__circle {
			margin: 0 0 0 0;
		}
	}
}

@media only screen and (max-width: 530px) {
	.stats {
		&__circle--wrapper {
			width: 100%;
		}

		&__button {
			white-space: nowrap;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			text-align: center;
		}
	}
}

@media only screen and (max-width: 350px) {
	.stats {
		&__circle--stat {
			width: 100px;
			height: 100px;
		}

		&__value,
		&__discription {
			font-size: 12px;
		}
	}
}
