.titiland {
	display: flex;
	flex-direction: column;
	min-width: 0;

	border-radius: 15px;
	background: rgba(61, 63, 75, 0.3);
	box-shadow: 0px 1px 3px 0px rgba(219, 95, 255, 0.8) inset;

	overflow: hidden;

	margin: 200px 0 0 0;
	padding: 100px 60px;

	&__name {
		transform: translateX(50%);
		opacity: 0;
		transition: all 0.8s ease;
		margin: 6px 0 0 0;
	}

	&__slaiders {
		margin: 130px 0 0 0;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__slaider {
		flex: 0 1 50%;
		position: relative;

		&--text {
			flex: 0 1 600px;

			min-width: 0;
			max-width: 600px;

			.swiper-slide {
				opacity: 0 !important;
				transition: opacity 0.4s ease;

				&.swiper-slide-active {
					opacity: 1 !important;
				}
			}
		}
	}

	&__slaider-body {
		min-width: 0;
		position: relative;
		max-width: 410px;
		margin: 0 auto;

		.back {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 70%;
			z-index: -1;
			height: 80%;
			background: linear-gradient(359.28deg, rgba(216, 72, 255, 0.3) 6.14%, rgba(216, 72, 255, 0.048) 101.75%);
			filter: blur(7.5px);
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	&__col-top img,
	&__col-down img {
		width: 100%;
	}

	& .swiper-pagination {
		position: absolute;
		bottom: -25px;
		display: none;
	}

	&__photos {
		display: flex;
		align-items: center;
	}

	&__arr-left,
	&__arr-right {
		display: flex;
		align-items: center;
		cursor: pointer;
		height: 40px;
	}

	.arr-right,
	.arr-left {
		width: 24px;
		height: 18px;
		position: relative;
		&:first-child {
			margin-right: -5px;
		}
		&::before {
			content: "";
			position: absolute;
			width: 23px;
			height: 4px;
			border-radius: 5px;
			background: #a939ff;
			top: 0;
			transform: rotate(-45deg);
		}
		&::after {
			content: "";
			position: absolute;
			width: 23px;
			height: 4px;
			border-radius: 5px;
			background: #a939ff;
			bottom: 0;
			transform: rotate(45deg);
		}
		transition:
			border 0.6s ease 0s,
			transform 0.6s ease 0s;
	}

	.arr-right {
		transform: rotate(180deg);
	}

	&__arr-right:hover {
		& .arr-right {
			transform: scale(1.1) rotate(180deg);
			&::before {
				background: #f373eb;
			}
			&::after {
				background: #f373eb;
			}
		}
	}

	&__arr-left:hover {
		& .arr-left {
			transform: scale(1.1) rotate(0deg);
			&::before {
				background: #f373eb;
			}
			&::after {
				background: #f373eb;
			}
		}
	}

	&__main {
		display: flex;
		justify-content: space-between;
		gap: 40px;
	}

	&__content {
		flex: 0 1 600px;
		display: flex;
		flex-direction: column;
		align-items: start;

		max-width: 600px;
	}

	&__image {
		flex: 0 0 45%;
		position: relative;

		img {
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(60px, -100px);
			width: 100%;
		}
	}

	&__text {
		margin: 10px 0 0 0;
		color: #918bb4;
		font-family: Montserrat;
		font-size: 18px;
		line-height: 130%;
	}

	&__btn {
		display: none;
	}
}
.block-titiland {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: flex-start;

	padding: 10px 10px 0;

	&__name {
		text-shadow: 0px 0px 14px rgba(255, 41, 246, 0.4);
	}

	&__text {
		color: #918bb4;

		font-family: Montserrat;
		font-size: 18px;
		line-height: 130%;
	}

	&__btn {
		margin-top: 22px;
	}
}

.swiper {
	max-width: 60%;
	img {
		object-fit: contain;
		width: 100%;
		height: 300px;
	}

	&.titiland_text {
		max-width: 100%;
	}

	&-pagination {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-pagination-bullet {
		background: #a233dd;
		width: 6px;
		height: 6px;
		margin: 0 6px;
		&-active {
			width: 10px;
			height: 10px;
		}
	}
}

@media only screen and (max-width: 1200px) {
	.titiland {
		&__slaider-body {
			max-width: 320px;
		}

		&__photos {
			max-height: 250px;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.titiland {
		margin-top: 100px;
		padding: 50px;

		&__slaider-body {
			max-width: 280px;
		}

		&__slaider--text {
			flex: 0 1 390px;
		}

		&__content {
			margin: 0;
		}
		&__text {
			margin: 5px 0 0 0;
		}

		&__image {
			flex: 0 0 32%;
			position: relative;

			img {
				transform: translate(50px, -50px);
				width: 130%;
			}
		}

		&__arr-left,
		&__arr-right {
			height: 30px;
		}
		.arr-left,
		.arr-right {
			height: 19px;
			width: 25px;

			&:last-child {
				display: none;
			}
		}

		&__slaiders {
			margin: 65px 0 0 0;
		}
	}

	.block-titiland {
		gap: 20px;
	}

	.swiper {
		max-width: 150px;

		& img {
			height: 160px;
			width: 95%;
		}
	}
}

@media only screen and (max-width: 768px) {
	.titiland {
		&__main {
			display: block;
		}

		&__image {
			display: none;
		}

		&__slaiders {
			flex-direction: column-reverse;
		}

		&__slaider {
			max-width: 340px;
			padding-bottom: 25px;

			&,
			&--text {
				flex: 0 0 auto;
			}

			&--text {
				width: 100%;
			}
		}

		&__slaider-body {
			max-width: 340px;
		}

		&__arr-left,
		&__arr-right {
			display: none;
			visibility: collapse;

			order: -1;
		}

		& .swiper-pagination {
			display: flex;
		}

		&__btn {
			display: block;
			margin: 30px 0 0 0;
		}
	}

	.block-titiland {
		&__btn {
			display: none;
		}
	}

	.swiper {
		max-width: 200px;
		& img {
			height: 200px;
		}
	}
}

@media only screen and (max-width: 530px) {
	.titiland {
		padding: 40px 20px;
	}
}
