.zoomloop {
	margin: 15% 0 0 0;
	position: relative;

	border-radius: 15px;
	background: rgba(61, 63, 75, 0.3);
	box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;

	padding: 64px 80px 100px 80px;

	&__block {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 20px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
	}

	&__phone {
		flex: 0 0 50%;
		position: relative;
		aspect-ratio: 65 / 53;

		img {
			width: 100%;
			aspect-ratio: 31/25;
			position: absolute;
			object-fit: contain;
			bottom: 0;
			right: -12%;
		}
	}

	&__name {
		white-space: nowrap;
		margin-top: 8px;
		transform: translateX(-50%);
		opacity: 0;
		transition: all 0.8s ease;
	}

	&__text {
		margin: 19px 0 0 0;

		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
	}

	&__btn {
		margin: 60px 0 0 0;
	}

	&__video {
		margin: 60px 0 0 0;
		width: 100%;
		aspect-ratio: 12 / 7;
		border-radius: 16px;
		background: #0a0a0c;

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 11%;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.zoomloop {
		margin: 100px 0 0 0;
		padding: 50px;

		&__text {
			margin: 5px 0 0 0;
		}

		&__phone {
			flex: 0 0 45%;

			img {
				width: 120%;
			}
		}

		&__btn {
			margin: 20px 0 0 0;
		}
	}
}

@media only screen and (max-width: 768px) {
	.zoomloop {
		&__block {
			flex-direction: column;
			align-items: center;
		}

		&__phone {
			margin: 10px 0 0 0;
			flex: 0 0 auto;
			max-width: 380px;
			width: 100%;

			img {
				width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__btn {
			margin: 0 0 0 0;
		}

		&__video {
			margin: 40px 0 0 0;
		}
	}
}

@media only screen and (max-width: 530px) {
	.zoomloop {
		padding: 40px 20px;

		&__btn {
			width: 100%;
			padding: 12px 0;
			text-align: center;
		}
	}
}
